{% extends 'forum_nav.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    {% include 'message.html' %}
		<!-- ==============================================
		 Hero
		=============================================== -->
        <div class="profile-banner"></div>

		<!-- ==============================================
		 Main
		=============================================== -->
		<section class="vine-main">
			<div class="container">
				<div class="row">

                    <div class="col-lg-3" data-aos="fade-right" data-aos-easing="linear">

                        <div class="user-profile-img">
                            <img src="{{user_profile.avatar}}" alt="{{user_profile.user.full_name}}">
                        </div>    

                        <div class="user-profile-details">
                            <div class="user-profile-name">
                                <h4>{{user_profile.user.full_name}}</h4>
                                
                                {% if user_profile.user.username %}
                                <p>@{{user_profile.user.username | lower}}</p>
                                {% endif %}
                                    
                                <p class="fs-7 mt-3">Joined {{user_profile.user.date_joined | date:'M, Y'}}</p>
                            </div>
                            <div class="user-profile-stats">
                                <ul>
                                    <li><span class="item-number">{{user_profile.followers.all.count}}</span> <span class="item-text">Followers</span></li>
                                    <li><span class="item-number">{{num_following}}</span> <span class="item-text">Following</span></li>
                                    
                                    {% if user_profile.user == user  %}
                                    {% else %}
                                        
                                        {% if user in user_profile.followers.all  %}
                                            <li> <a style="cursor: pointer;"
                                                hx-post="{% url 'follow' user_profile.id %}"
                                                hx-trigger="click"
                                                hx-target="#container" 
                                                class="btn btn-sm btn-danger rounded fw-bold"> Unfollow</a> </li>
                                        {% else %}
                                            <li> <a style="cursor: pointer;"
                                                hx-post="{% url 'follow' user_profile.id %}"
                                                hx-trigger="click"
                                                hx-target="#container"
                                                class="btn btn-sm btn-mint rounded fw-bold"> Follow</a> </li>
                                        {% endif %}
                                            
                                    {% endif %}
                                        
                                </ul>                                
                            </div>
                            <div class="user-profile-followers">
                                <h6 class="mb-3">Followers</h6>
                                <ul>
                                    
                                    {% for follow  in user_profile.followers.all|slice:"6" %}
                                        <li><a href="{% url 'dashboard' follow.profile.id %}"><img src="{{follow.profile.avatar}}" alt="User"></a></li>
                                    {% endfor %}
                                        
                                    
                                </ul> 
                                                         
                            </div> 

                            <ul class="achivement-fact">
                                <li>
                                    <div class="icon"><i class="bi bi-layers"></i></div>
                                    <h5 class="counter">{{user_post.count | intcomma}}</h5>
                                    <p>Posts</p>
                                </li>
                                <li>
                                    <div class="icon"><i class="bi bi-chat-dots"></i></div>
                                    <h5 class="counter">{{total_comments | intcomma}}</h5>
                                    <p>Comments</p>
                                </li>
                                <li>
                                    <div class="icon"><i class="bi bi-heart"></i></div>
                                    <h5 class="counter">{{total_likes| intcomma}}</h5>
                                    <p>Likes</p>
                                </li>
                            </ul>

                            <div class="user-profile-bio">
                                <h6 class="mb-3">About</h6>
                                
                                {% autoescape off %}
                                    
                                <p>{{user_profile.bio | urlize | linebreaks}}</p> 
                                {% endautoescape %}
                                
                            </div>

                        </div>
                    </div>    

                    <div class="col-12 col-lg-9">

						<div class="row g-4" data-aos="fade-down" data-aos-easing="linear">
							<div class="col-12">
								<div class="vine-tabs pb-0 px-2 px-lg-0 rounded-top">
									<ul class="nav nav-tabs nav-bottom-line nav-responsive border-0 nav-justified" role="tablist">
										<li class="nav-item" role="presentation"> 
                                            <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab">
                                                <i class="bi bi-gear fa-fw me-2"></i>Posts
                                            </a> 
                                        </li>
										<!-- <li class="nav-item" role="presentation"> 
                                            <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2" aria-selected="false" role="tab" tabindex="-1">
                                                <i class="bi bi-chat-dots fa-fw me-2"></i>Comments
                                            </a> 
                                        </li> -->
										<li class="nav-item" role="presentation"> 
                                            <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3" aria-selected="false" role="tab" tabindex="-1">
                                                <i class="bi bi-people me-2"></i> Following
                                            </a> 
                                        </li>
										<li class="nav-item" role="presentation"> 
                                            <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-4" aria-selected="false" role="tab" tabindex="-1">
                                                <i class="bi bi-people me-2"></i> Followers
                                            </a> 
                                        </li>
									</ul>
								</div>
							</div>
						</div>

                        <div class="row g-4">
                            <div class="col-12">
                                <div class="tab-content mt-5">
                                    <div class="tab-pane active show" id="tab-1" role="tabpanel">


										<div class="discussions">
		
											
						
											<div class="post-box d-flex mx-0" data-aos="fade-up" data-aos-easing="linear">
												<div class="vote d-none d-lg-block">
													<a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
													<p class="mb-3">70</p>
													<p>24</p>
													<a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
												</div>  
												<div class="card">
													<div class="card-header card-header-action">
														<div class="media align-items-center">
															<div class="media-head me-2">
																<div class="avatar">
																	<a href="#"><img src="{% static 'assets/assets/img/avatar/1.jpg' %}" alt="user" class="avatar-img rounded-circle"></a>
																</div>
															</div>
															<div class="media-body">
																<div><a href="#">Abram Marvyn</a></div>
																<div class="fs-7"><span> 03 hrs ago in </span> <a href="#" class="cat">AI</a></div>
															</div>
														</div>
														<div class="card-action-wrap">
															<a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
															<div class="dropdown-menu dropdown-menu-end">
																<a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
																<!-- <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a> -->
																<a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
																<div class="dropdown-divider"></div>
																<!-- <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a> -->
															</div>
														</div>
													</div>
													<div class="card-body">
														<h3>
														   <a href="">What is your favorite AI project you found recently?</a>
														</h3>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
															Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
														</p>
						  
														
													</div>
						
													<div class="card-footer">
				
														<div class="post-stats">
															<div class="post-item d-lg-none d-xl-none">
															   <a href="#">
																 <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
																 <div class="post-text">70</div>
															   </a>	
															</div>
															<div class="post-item d-lg-none d-xl-none">
															   <a href="#">
																 <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
																 <div class="post-text">24</div>
															   </a>	
															</div>
															<div class="post-item">
															   <ul>
																  <li><a href="#"><img src="{% static 'assets/assets/img/avatar/1.jpg' %}" alt="User"></a></li>
																  <li><a href="#"><img src="{% static 'assets/assets/img/avatar/2.jpg' %}" alt="User"></a></li>
																  <li><a href="#"><img src="{% static 'assets/assets/img/avatar/3.jpg' %}" alt="User"></a></li>
																  <li><a href="#"><img src="{% static 'assets/assets/img/avatar/4.jpg' %}" alt="User"></a></li>
																  <li><a href="#"><img src="{% static 'assets/assets/img/avatar/5.jpg' %}" alt="User"></a></li>
																  <li><a href="#"><img src="{% static 'assets/assets/img/avatar/6.jpg' %}" alt="User"></a></li>
															   </ul>
															   <div class="post-text">+170</div>
															   <div class="post-text">Views</div>
															</div>
															<div class="post-item me-lg-5">
															   <a href="#">
																  <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
																  <div class="post-text">1200</div>
															   </a>
															</div>
															<div class="post-item">
															   <a href="#">
																 <div class="post-icon"><i class="bi bi-bookmark"></i></div>
																 <div class="post-text">32</div>
															   </a>
															</div>
															<div class="post-item">
															   <a href="#">
																 <div class="post-icon"><i class="bi bi-share"></i></div>
																 <div class="post-text">12</div>
															   </a>
															</div>
															<div class="post-item">
															   <a href="#">
																 <div class="post-icon"><i class="bi bi-flag"></i></div>
																 <div class="post-text">Report</div>
															   </a>
															</div>
														 </div>
				
													</div> 
						
												  </div>	
											</div><!--/post-box-->
						
											

											<div class="pagination" data-aos="fade-up" data-aos-easing="linear">
					
												<a href="#" class="page-numbers btn-start">
													<i class="b bi-chevron-double-left"></i>
												</a>
						
												<a href="#" class="page-numbers btn--prev">
												  <i class="bi bi-chevron-left"></i>
												</a>
												<span class="page-numbers pagination-space"> <i class="bi bi-three-dots"></i> </span>
												<a href="#" class="page-numbers current"><span>1</span></a>
												<a href="#" class="page-numbers"><span>2</span></a>
												<a href="#" class="page-numbers"><span>3</span></a>
												<a href="#" class="page-numbers"><span>4</span></a>
												<a href="#" class="page-numbers"><span>5</span></a>
												<a href="#" class="page-numbers"><span>6</span></a>
						
												<span class="page-numbers pagination-space"> <i class="bi bi-three-dots"></i></span>
												<a href="#" class="page-numbers btn--next">
												   <i class="bi bi-chevron-right"></i>
												</a>
						
												<a href="#" class="page-numbers btn-end">
													<i class="bi bi-chevron-double-right"></i>
												</a>
						
												<span class="page-numbers all-pages">
													70 Pages
												</span>
						
											</div><!--/pagination--> 

										</div>	

                                    </div><!-- Tab content 1 END -->

                                    <div class="tab-pane" id="tab-3" role="tabpanel">

										<div class="row">
											<div class="col-6">

												<div class="card mb-5">
													<div class="media media-xs card-body">
														<img src="{% static 'assets/assets/img/avatar/2.jpg' %}" class="avatar avatar-lg rounded-circle me-3" alt="avatar-img">
														<div class="media-body valign-middle">
															<a class="fw-semibold" href="javascript:void(0)">Adaline Riley</a>
															<p class="text-muted mb-0"> <i class="bi bi-geo-alt"></i> New York, USA </p>
														</div>
														<div class="media-body valign-middle text-end mt-2"><button class="btn btn-mint" type="button">View Profile</button></div>
													</div>
												</div>

											</div>
											
											
										</div>
										
                                    </div><!-- Tab content 3 END -->

                                    <div class="tab-pane" id="tab-4" role="tabpanel">

										<div class="row">
											<div class="col-6">

												<div class="card mb-5">
													<div class="media media-xs card-body">
														<img src="{% static 'assets/assets/img/avatar/8.jpg' %}" class="avatar avatar-lg rounded-circle me-3" alt="avatar-img">
														<div class="media-body valign-middle">
															<a class="fw-semibold" href="javascript:void(0)">Lynda Briggs</a>
															<p class="text-muted mb-0"> <i class="bi bi-geo-alt"></i> New York, USA </p>
														</div>
														<div class="media-body valign-middle text-end mt-2"><button class="btn btn-mint" type="button">View Profile</button></div>
													</div>
												</div>

											</div>
											
										</div>
										
                                    </div><!-- Tab content 3 END -->
                                </div>
                            </div>
                        </div>

                    </div><!--/col-lg-9-->

				</div>
			</div>
		</section>
 {% endblock %}