{% load static %}
{% load humanize %}

<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DigiPro - Digital Products Marketplace ">
    <meta name="keywords" content="marketplace, easy digital download, digital product, digital, html5">
    <title>CS - Post to Forum</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- inject:css-->

    <link rel="stylesheet" href="{% static 'css/plugin.min.css' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- endinject -->

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-32x32.png">
</head>
<body class="preload">
    

    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-contents">
                        <h2 class="page-title">Make a Post</h2>
                        <div class="breadcrumb">
                            <ul>
                                <li>
                                    <a href="{% url 'forum' %}">Home</a>
                                </li>
                                <li class="active">
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end .col-md-12 -->
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- ends: .breadcrumb-area -->


    <section class="support_threads_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="question-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Post Title</label>
                                <input type="text" name="title" value="{{title}}" placeholder="Enter title here" required >
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea name="description" id="authbio" rows="2" cols="1" class="text_field mb-3" placeholder="Some Descriptions" required
                                
                                {% if edit %}
                                    value="{{form.description}}"
                                {% endif %}
                                    
                                ></textarea>
                            </div>
                            
                            
                            
                            {% if edit %}
                                <div class="form-group">
                                <button type="submit" class="btn btn--md btn-primary">Update Post</button>
                            </div>
                            {% else %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn--md btn-primary">Submit Post</button>
                                </div>
                            {% endif %}
                                
                        </form>
                    </div><!-- ends: .question-form -->
                </div><!-- end .col-lg-9 -->

                <div class="col-lg-3">
                    <aside class="sidebar support--sidebar">
                        <a href="" class="login_promot">Most Recent Posts</a>
                        


                        
    <div class="sidebar-card card--top_discussion p-0">
        
        <div class="collapsible-content">
            <ul class="card-content">
                
                {% for post  in forum  %}
                    <li>
                        <a href="{% url 'forum_detail' post.id %}">{{post.title}}
                            <span>{{post.created | timesince }} Ago</span>
                        </a>
                    </li>
                {% endfor %}

                
            </ul>
        </div><!-- ends: .collapsible_content -->
    </div><!-- ends: .card--forum_categories -->

                    </aside><!-- end .sidebar -->
                </div>
                <!-- end .col-md-4 -->
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- ends: .support_threads_area -->



    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDxflHHc5FlDVI-J71pO7hM1QJNW1dRp4U"></script>
    <!-- inject:js-->

     <script src="{% static 'js/plugins.min.js' %}"></script>

     <script src="{% static 'js/script.min.js' %}"></script>

     <!-- endinject-->
</body>
</html>