{% load static %}

<div class="modal-header">
  {% comment %} <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1> {% endcomment %}
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="{{lecturer.image.url}}" class="mb-3">
  <div class="text-center">
      <h3 my-3>{{lecturer.full_name | upper}}</h3> <small>{{lecturer.qualifications}}</small>
      
      {% if lecturer.status %}
        
      {% else %}
      
      {% if lecturer.status  %}
        <p>{{lecturer.status}} Lecturer</p>
      {% endif %}
        
      {% endif %}
        
  </div>
    
    {% if lecturer.citation  %}
      <p class="lead my-3" style="text-align: justify !important">
          
          {% autoescape off %}
            {{lecturer.citation | linebreaks | urlize | safe }}
          {% endautoescape %}
          
      </p>
    {% endif %}
      
</div>