{% load static %}

<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DigiPro - Digital Products Marketplace ">
    <meta name="keywords" content="marketplace, easy digital download, digital product, digital, html5">
    <title>CS - Student Forum</title>

    <!-- htmx start -->
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <!-- htmx ends -->

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- icon  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- inject:css-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    

    <link rel="stylesheet" href="{% static 'css/plugin.min.css' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- endinject -->

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/fav.svg' %}">
</head>
<body class="preload" id="body">
    
  
    

                            
    <div class="author-menu">
        <!-- start .author-area -->
        <div class="author-area">
            <div class="text-center" style="margin-right: 20px;">
                <a href="{% url 'forum_post' %}" class="author-area__seller-btn inline">Make a Post</a>
            </div>
            <div class="search-wrapper">
                <div class="nav_right_module search_module">
                    <span class="icon-magnifier search_trigger"></span>


                    <div class="search_area">
                        <form action="#">
                            <div class="input-group input-group-light">
                                <span class="icon-left" id="basic-addon1">
                                    <i class="icon-magnifier"></i>
                                </span>
                                <input type="text" class="form-control search_field"
                                       placeholder="Type words and hit enter...">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!--start .author-author__info-->
            <div class="author-author__info has_dropdown">
                <div class="author__avatar online">
                    <img style="max-width: 70px;" src="{{user.profile.avatar}}" alt="user avatar"
                         class="rounded-circle">
                </div>

                <div class="dropdown dropdown--author">
                    <div class="author-credits d-flex">
                        <div class="author__avatar">
                            <img src="{{user.profile.avatar}}" alt="user avatar"
                                 class="rounded-circle">
                        </div>
                        <div class="autor__info">
                            <p class="name">
                                {{user | title}}
                            </p>
                            <p class="amount">{{user.regno}}</p>
                            <p class="amount">{{user.level}}</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{% url 'dashboard' user.profile.id %}">
                                <span class="icon-user"></span>Profile</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'edit_profile' user.profile.id %}">
                                <span class="icon-settings"></span> Setting</a>
                        </li>
                        
                        
                        <li>
                            <a href="{% url 'logout' %}">
                                <span class="icon-logout"></span>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end /.author-author__info-->
        </div>
        <!-- end .author-area -->

        <!-- author area restructured for mobile -->
        <div class="mobile_content ">
            <span class="icon-user menu_icon"></span>

            <!-- offcanvas menu -->
            <div class="offcanvas-menu closed">
                <span class="icon-close close_menu"></span>
                <div class="author-author__info">
                    <div class="author__avatar v_middle">
                        <img src="{{user.profile.avatar}}" style="max-width: 70px;" alt="user avatar">
                    </div>
                </div>
                <!--end /.author-author__info-->

                
                <!--start .author__notification_area -->

                <div class="dropdown dropdown--author">
                    <ul>
                        <li>
                            <a href="{% url 'dashboard' user.profile.id %}">
                                <span class="icon-user"></span>Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'edit_profile' user.profile.id %}">
                                <span class="icon-settings"></span> Setting</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'logout' %}">
                                <span class="icon-logout"></span>Logout</a>
                        </li>
                    </ul>
                </div>

                <div class="text-center">
                    <a href="" class="author-area__seller-btn inline">Make a Post</a>
                </div>
            </div>
        </div>
        <!-- end /.mobile_content -->
    </div>


                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end  -->
    </div>
    <!-- end /.menu-area -->


{% block content %}
    
{% endblock content %}
    




    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDxflHHc5FlDVI-J71pO7hM1QJNW1dRp4U"></script>
    <!-- inject:js-->

     <script src="{% static 'js/plugins.min.js' %}"></script>

     <script src="{% static 'js/script.min.js' %}"></script>

     <!-- endinject-->

     <!-- {% csrf_token %} -->
      <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRFToken'] = csrftoken; // add a new header into the request
        });
    </script>
</body>
</html>