{% extends 'nav.html' %}
{% load static %}
    <!-- header banner -->


{% block title %}
    IMT - Computer Science
{% endblock title %}
    
    
    {% block content %}
    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({% static 'assets/images/banner/breadcrumb.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">about</li>
                        </ul>
                        <h2 class="section-title">About Computer Science Department</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- about university -->
    <section class="rts-about-university rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="rts-section">
                    <div class="col-lg-4 col-md-5">
                        <h3 class="rts-section-title">About the Department</h3>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <p class="rts-section-description">
                            Welcome to Computer Science Department, where knowledge meets inspiration and every individual's educational journey is valued. The department was established in 1971 into the School of Technology IMT, our department has been a bastion of learning, innovation, and community for more than 20 years.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-5 justify-content-md-center justify-content-start">
                <div class="col-lg-7 col-xl-8 col-md-11">
                    <div class="rts-about-section">
                        <p>
                            Our Computer Science Department typically offers a comprehensive curriculum that covers a wide range of topics such as programming, algorithms, data structures, software engineering, computer networks, artificial intelligence, and machine learning. Students are taught to think critically and solve complex problems using computational methods.

                        </p>

                        <p>
                            In addition to theoretical knowledge, the department often emphasizes practical experience through hands-on projects, internships, and collaboration with industry partners. Department members usually have diverse expertise and are engaged in cutting-edge research, providing students with opportunities to participate in innovative projects.

                        </p>

                        <p>
                            The department has been guided by visionary leaders who have shaped its excellence. Below are some of our distinguished Heads of Department:

                        </p>
                        <table class="table table-striped table-hover my-3 fw-bold">
                            <thead>
                                <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Tenure</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for hod  in hods  %}
                                    <tr class="mb-3" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                hx-get="{% url 'lecturers_pop' hod.lecturer.id %}"
                                hx-target='#modalcontent'
                                hx-trigger="click">
                                        <td class="p-3">{{hod.lecturer | title}}</td>
                                        <td class="p-3">{{hod.started}} - {{hod.ended}}</td>
                                        
                                    </tr>
                                {% endfor %}
                                    
                                
                            </tbody>
                            </table>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 col-md-11">
                    <div class="rts-about-details">
                        <div class="single-about-info">
                            <div class="content">
                                <h3 class="title">Over 100k</h3>
                                <img src="{% static 'assets/images/icon/11.svg' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>undergraduate and graduate students</p>
                            </div>
                        </div>
                        <div class="single-about-info">
                            <div class="content">
                                <h3 class="title">16,214</h3>
                                <img src="{% static 'assets/images/icon/12.svg' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>Departmental Lecture and Staff</p>
                            </div>
                        </div>
                        <div class="single-about-info">
                            <div class="content">
                                <h3 class="title">300k</h3>
                                <img src="{% static 'assets/images/icon/13.svg' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>Computer Science Alumni Worldwide</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about university end -->

    


    <div class="rts-funfact rts-section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 ">
                    <div class="rts-funfact-wrapper">
                        <div class="single-cta-item">
                            <h2 class="single-cta-item__title">90%</h2>
                            <p>post-graduation success rate</p>
                        </div>
                        <div class="single-cta-item">
                            <h2 class="single-cta-item__title">Top 10</h2>
                            <p>Department that Create Futures</p>
                        </div>
                        <div class="single-cta-item">
                            <h2 class="single-cta-item__title">No. 1</h2>
                            <p>in the nation for materials R&D</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- mission -->
    <section class="rts-mission">
        <div class="container">
            <div class="row justify-content-center rt-center">
                <div class="rts-section mb--50">
                    <h2 class="rts-section-title">Mission and Values</h2>
                </div>
            </div>
            <!-- mission -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="rts-timeline-section">
                        <div class="rts-timeline-content">
                            <div class="left-side">
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Diversity</h5>
                                    <p> Celebrating a rich tapestry of backgrounds,
                                        perspectives, and talents
                                    </p>
                                    <img src="{% static 'assets/images/about/mission-1.jpg' %}" alt="">
                                </div>
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Innovation</h5>
                                    <p> Encouraging creativity, critical thinking, and a
                                        spirit of innovation.
                                    </p>
                                    <img src="{% static 'assets/images/about/mission-2.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="separator">
                            </div>
                            <div class="right-side">
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Excellence</h5>
                                    <p> Striving for academic and research excellence
                                        in all endeavors.
                                    </p>
                                    <img src="{% static 'assets/images/about/mission-3.jpg' %}" alt="">
                                </div>
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Academic Excellence</h5>
                                    <p> Our commitment to academic excellence is reflected in
                                        the diverse range
                                    </p>
                                    <img src="{% static 'assets/images/about/mission-4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Testimonial Start -->
    <div class="rts-testimonial rts-section-padding">
        <div class="container">
            <!-- testimonial content -->
            <div class="row">
                <div class="col-12">
                    <div class="rts-testimonial-box">
                        <div class="testimonial-item rt-flex">
                            <div class="testimonial-item-image">
                                <img src="{% static 'assets/images/testimonial/testimonial-big.jpg' %}" alt="testimonial thumbnail">
                            </div>
                            <div class="testimonial-item-content w-570 rt-relative">
                                <div class="swiper swiper-data" data-swiper='{
                                        "slidesPerView":1,
                                        "loop": true,
                                        "navigation":{
                                            "nextEl":".rt-next",
                                            "prevEl":".rt-prev"
                                        },
                                        "autoplay":{
                                            "delay":"3000"
                                        }
                                }'>
                                    <div class="swiper-wrapper">
                                        <!-- single testimonial -->
                                        <div class="swiper-slide">
                                            <div class="single-testimonial">
                                                <div class="rt-between mb--50">
                                                    <div class="rt-icon">
                                                        <img src="{% static 'assets/images/testimonial/quote.svg' %}" alt="quote icon">
                                                    </div>
                                                    <div class="rt-review">
                                                        <div class="rating-star mb--10">
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-light fa-star"></i>
                                                        </div>
                                                        <p class="rt-secondary rt-medium --p-s">4.5 ( 112 Review)</p>
                                                    </div>
                                                </div>
                                                <p class="testimonial-text">
                                                    I would highly recommend Michael Richard to anyone interested the subject matter. It has provided me with invaluable knowledge & a newfound passion topic. My only suggestion would be to add more live.
                                                </p>
                                                <div class="rt-testimonial-author mt--50">
                                                    <div class="rt-author-meta rt-flex rt-gap-20">
                                                        <div class="rt-author-img">
                                                            <img src="{% static 'assets/images/testimonial/author-1.png' %}" alt="author">
                                                        </div>
                                                        <div class="rt-author-info">
                                                            <h5 class="mb-1">David Jhon</h5>
                                                            <p>Artist and Instructor</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single testimonial -->
                                        <div class="swiper-slide">
                                            <div class="single-testimonial">
                                                <div class="rt-between mb--50">
                                                    <div class="rt-icon">
                                                        <img src="{% static 'assets/images/testimonial/quote.svg' %}" alt="quote icon">
                                                    </div>
                                                    <div class="rt-review">
                                                        <div class="rating-star mb--10">
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-light fa-star"></i>
                                                        </div>
                                                        <p class="rt-secondary rt-medium --p-s">4.5 ( 112 Review)</p>
                                                    </div>
                                                </div>
                                                <p class="testimonial-text">
                                                    I would highly recommend Michael Richard to anyone interested the subject matter. It has provided me with invaluable knowledge & a newfound passion topic. My only suggestion would be to add more live.
                                                </p>
                                                <div class="rt-testimonial-author mt--50">
                                                    <div class="rt-author-meta rt-flex rt-gap-20">
                                                        <div class="rt-author-img">
                                                            <img src="{% static 'assets/images/testimonial/author-1.png' %}" alt="author">
                                                        </div>
                                                        <div class="rt-author-info">
                                                            <h5 class="mb-1">David Jhon</h5>
                                                            <p>Artist and Instructor</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single testimonial -->
                                        <div class="swiper-slide">
                                            <div class="single-testimonial">
                                                <div class="rt-between mb--50">
                                                    <div class="rt-icon">
                                                        <img src="{% static 'assets/images/testimonial/quote.svg' %}" alt="quote icon">
                                                    </div>
                                                    <div class="rt-review">
                                                        <div class="rating-star mb--10">
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-solid fa-star"></i>
                                                            <i class="fa-sharp fa-light fa-star"></i>
                                                        </div>
                                                        <p class="rt-secondary rt-medium --p-s">4.5 ( 112 Review)</p>
                                                    </div>
                                                </div>
                                                <p class="testimonial-text">
                                                    I would highly recommend Michael Richard to anyone interested the subject matter. It has provided me with invaluable knowledge & a newfound passion topic. My only suggestion would be to add more live.
                                                </p>
                                                <div class="rt-testimonial-author mt--50">
                                                    <div class="rt-author-meta rt-flex rt-gap-20">
                                                        <div class="rt-author-img">
                                                            <img src="{% static 'assets/images/testimonial/author-1.png' %}" alt="author">
                                                        </div>
                                                        <div class="rt-author-info">
                                                            <h5 class="mb-1">David Jhon</h5>
                                                            <p>Artist and Instructor</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- rts arrow -->
                                <div class="rts-slider-arrow testimonial-arrow">
                                    <div class="rt-slider-btn rt-next">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </div>
                                    <div class="rt-slider-btn rt-prev">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial end -->



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div id='modalcontent' class="modal-content">
      <div class="modal-header">
        {% comment %} <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'img/naomi.png' %}" class="mb-3">
        <div class="text-center">
            <h3 my-3>fffffffffffNwachukwu Emmanuel</h3>
            <p>President</p>

        </div>
        <p class="lead my-3" style="text-align: justify !important;">
            {% lorem 9 p random %}
        </p>
      </div>
      
    </div>
  </div>
</div>

   {% endblock %}