{% extends 'nav.html' %}
{% load static %}
    <!-- header banner -->


{% block title %}
    IMT - Computer Science
{% endblock title %}
    
    
    {% block content %}

    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({% static 'assets/images/banner/breadcrumb.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    {% if timetable %}
                        <div class="breadcrumb-content">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Departmental Timetable</li>
                            </ul>
                            <h2 class="section-title">Departmental Timetable </h2>
                        </div>
                    {% else %}
                        <div class="breadcrumb-content">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Departmental Classrooms</li>
                            </ul>
                            <h2 class="section-title">Departmental Classrooms </h2>
                        </div>
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- section one -->
    <!-- single section -->
    <div class="rts-campus-section rts-section-padding">
        <div class="container">
            
            
            {% if timetable %}
                <div class="row g-5">
                
                    {% for lab in timetables  %}
                        <!-- single item -->
                        <div class="col-lg-4 col-md-6 col-sm-6"
                        data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                        hx-get="{% url 'class_timetable_pop' lab.id %}"
                        hx-target='#modalcontent'
                        hx-trigger="click"
                        >
                            <div class="single-item">
                                <div class="single-item__content">
                                    <div class="single-item__image">
                                        <img src="{{lab.timetable.url}}" alt="item-image">
                                    </div>
                                    <h5 class="item-title my-3 text-center"><a href="#">{{lab.name}}</a></h5>
                                    {% comment %} <div class="single-item__meta">
                                        
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                    {% endfor %}
                        <hr class="my-4">
                        <div style='overflow-x:auto'>
                            <h3 class="text-success text-center">COURSES AND THE ASSIGNED LECTURERS</h3>

                            <table cellpadding=5 border=1 cellspacing=0  class="table-responsive table table-striped table-hover my-5 fw-bold">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Course Code</th>
                                        <th scope="col">Course Title</th>
                                        <th scope="col">Assigned Lecturer</th>
                                        <th scope="col">Lecturer's Phone Number</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for course  in courses  %}
                                            <tr class="mb-3">
                                                <td class="p-3">{{forloop.counter}}</td>
                                                <td class="p-3">{{course.course_code | upper}}</td>
                                                <td class="p-3">{{course.course_title | upper}}</td>
                                                <td class="p-3">{{course.lecturer}}</td>
                                                <td class="p-3">{{course.lecturer.phone_no}}</td>
                                            </tr>
                                        {% endfor %}
                                            
                                        
                                    </tbody>
                            </table>
                        </div>
                    
                </div>
            {% else %}
                <div class="row g-5">
                
                    {% for lab in labs  %}
                        <!-- single item -->
                        <div class="col-lg-4 col-md-6 col-sm-6"
                        data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                        hx-get="{% url 'class_pop' lab.id %}"
                        hx-target='#modalcontent'
                        hx-trigger="click"
                        >
                            <div class="single-item">
                                <div class="single-item__content">
                                    <div class="single-item__image">
                                        <img src="{{lab.class_image}}" alt="item-image">
                                    </div>
                                    <h5 class="item-title my-3 text-center"><a href="#">{{lab.name}} Classroom</a></h5>
                                    {% comment %} <div class="single-item__meta">
                                        
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                    {% endfor %}
                        
                    
                </div>
            {% endif %}
                
        </div>
    </div>
    <!-- single section end -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"

>
  <div class="modal-dialog" style="position: absolute; left: 0px;">
    <div id='modalcontent' class="modal-content" style="min-width: 50vw;">
      <div class="modal-header">
        {% comment %} <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% comment %} <img src="{% static 'img/naomi.png' %}" class="mb-3">
        <div class="text-center">
            <h3 my-3>Nwachukwu Emmanuel</h3>
            <p>President</p> {% endcomment %}
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}