{% extends 'nav.html' %}
{% load static %}
{% load timetable_filters %}
{% load mathfilters %}
    <!-- header banner -->


{% block title %}
    IMT - Computer Science
{% endblock title %}
    
    
    {% block content %}

<div >


    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({% static 'assets/images/banner/breadcrumb.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                        <div class="breadcrumb-content">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Courses and the Past Assigned Lecturers</li>
                            </ul>
                            <h2 class="section-title">Courses and the Past Assigned Lecturers</h2>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- section one -->
    <!-- single section -->
<section class="rts-campus-section rts-section-padding">
                    <div class="container mb-5">
                        <div style='overflow-x:auto'>

                            
                                <style>
                                    th {
                                        font-weight: bolder;
                                        color: green;
                                    }
                                </style>

                                        
                                        {% if course %}
                                            <h3 class="text-success text-center">{{course}} Past Assigned Lecturers</h3>
                                        {% else %}
                                            <h3 class="text-success text-center">Courses and the Past Assigned Lecturers</h3>
                                        {% endif %}
                                            


                                        {% if changes %}
                                        <table cellpadding=5 border=1 cellspacing=0  class="table-responsive table table-striped table-hover my-5 fw-bold">
                                                <thead>
                                                    <tr>
                                                    
                                                    <th scope="col">#</th>
                                                    <th scope="col">Levels</th>
                                                    <th scope="col">Course Code</th>
                                                    <th scope="col">NEW LECTURER</th>
                                                    <th scope="col">OLD LECTURER</th>
                                                    <th scope="col">SESSION</th>
                                                   
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    {% for course  in changes  %}
                                                        <tr class="mb-3"> 
                                                            <td class="p-3">{{forloop.counter}}</td>
                                                            <td class="p-3">{{course.level | upper}}</td>
                                                            <td class="p-3">{{course.course}}</td>
                                                            <td class="p-3">
                                                            {% for changed in course.field_changes %}
                                                                {{changed.new}}
                                                            {% endfor %}
                                                                </td>
                                                            <td class="p-3">
                                                            {% for changed in course.field_changes %}
                                                                {{changed.old}}
                                                            {% endfor %}
                                                                </td>
                                                            <td class="p-3">{{course.date|date:"Y"|sub:1}}/{{course.date|date:"Y"}}</td>
                                                            
                                                            
                                                        </tr>
                                                        
                                                    {% endfor %}
                                                        
                                                    
                                                </tbody>
                                        </table>
                                        {% else %}
                                            <p>No history available for any book.</p>
                                        {% endif %}
                                    </div>
                            
                    </div>
                    
                    {% if course  %}
                        <center>
                            <a href="{% url 'courses_history' %}" class="btn btn-success fs-2">All Course History</a>
                        </center>
                    {% endif %}
                        
                </section>
    <!-- single section end -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"

>
  <div class="modal-dialog" style="position: absolute; left: 0px;">
    <div id='modalcontent' class="modal-content" style="min-width: 50vw;">
      <div class="modal-header">
        {% comment %} <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% comment %} <img src="{% static 'img/naomi.png' %}" class="mb-3">
        <div class="text-center">
            <h3 my-3>Nwachukwu Emmanuel</h3>
            <p>President</p> {% endcomment %}
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}