{% extends 'nav.html' %}
{% load static %}
    <!-- header banner -->


{% block title %}
    IMT - Computer Science
{% endblock title %}
    
    
    {% block content %}

    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({% static 'assets/images/banner/breadcrumb.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <div class="breadcrumb-content">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Project Team</li>
                            </ul>
                            <h2 class="section-title">Project Team/Developers</h2>
                        </div>
                        
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- event speaker -->
    <div class="rts-event-speaker rts-section-padding">
        <div class="container">
            <div class="row ">
                <div class="rts__section--wrapper">
                    {% comment %} <h2 class="rts__section--title text-capitalize">Academic Staff</h2> {% endcomment %}
                </div>
            </div>
            <!-- event speaker list -->
            
            
                <div class="row g-5 ms-lg-0 ms-0">
                    {% for member in team %}
                        

                            <!-- single speaker item -->
                            <div style="cursor: pointer;" class="col-lg-3 col-md-4 col-sm-6 ms-lg-0" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                hx-get="{% url 'developer_pop' member.id %}"
                                hx-target='#modalcontent'
                                hx-trigger="click"
                                >
                                <div class="event-speaker">
                                    <div class="event-speaker__details" style="width: 300px;">
                                        <div class="speaker-thumb" style="border-radius: 50%; height: 300px; width: 300px; border-radius: 50%; overflow: hidden;">
                                            <img src="{{member.avatar}}" alt="speaker-thumb" style="border-radius: 0px !important;">

                                            
                                            <div class="speaker-social-link">
                                                <a href="mailto:{{member.email}}"><i class="fa fa-envelope"></i></a>
                                                <a href="tel:+{{member.phone_no}}"><i class="fa fa-phone-volume"></i></a>
                                                {% comment %} <a href="#"><i class="fa-brands fa-facebook"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="speaker-meta">
                                            <h5 class="speaker__name">{{member.full_name | title}}</h5>
                                            <span class="designation fs-4">{{member.regno}}</span><br>
                                            <span class="designation text-capitalize">{{member.designation | title}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          

                    
                    {% endfor %}
                </div>

                
                
        </div>
    </div>
    <!-- event speaker end -->



    <!-- event speaker -->
    
    <div class="rts-event-speaker rts-section-padding">
        <div class="container">
            <h3>Supervised by:</h3>
            <div class="row ">
                <div class="rts__section--wrapper">
                    {% comment %} <h2 class="rts__section--title text-capitalize">Academic Staff</h2> {% endcomment %}
                </div>
            </div>
            <!-- event speaker list -->
            
            
                <div class="row g-5 ms-lg-0 ms-0">
                        

                            <!-- single speaker item -->
                            <div style="cursor: pointer;" class="col-lg-3 col-md-4 col-sm-6 ms-lg-0" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                hx-get="{% url 'lecturers_pop' supervisor.id %}"
                                hx-target='#modalcontent'
                                hx-trigger="click"
                                >
                                <div class="event-speaker">
                                    <div class="event-speaker__details" style="width: 300px;">
                                        <div class="speaker-thumb" style="border-radius: 50%; height: 300px; width: 300px; border-radius: 50%; overflow: hidden;">
                                            <img src="{{supervisor.avatar}}" alt="speaker-thumb" style="border-radius: 0px !important;">

                                            
                                            <div class="speaker-social-link">
                                                <a href="mailto:{{supervisor.email}}"><i class="fa fa-envelope"></i></a>
                                                <a href="tel:+{{supervisor.phone_no}}"><i class="fa fa-phone-volume"></i></a>
                                                {% comment %} <a href="#"><i class="fa-brands fa-facebook"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="speaker-meta">
                                            <h5 class="speaker__name">{{supervisor.full_name | title}}</h5>
                                            <span class="designation fs-4">{{supervisor.qualifications | title}}</span><br>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                </div>

                
                
        </div>
    </div>
    <!-- event speaker end -->





{% comment %} <style>
    #exampleModal {
        width: 200vw;
    }
</style> {% endcomment %}




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div id='modalcontent' class="modal-content">
      <div class="modal-header">
        
      </div>
      
    </div>
  </div>
</div>


{% endblock %}